.li{
    font-size: 20px;
  font-weight: 600;
}
.li a{
    color:  rgb(120, 31, 31); 
}
.logo{
font-family: 'Arial Narrow Bold', sans-serif;
font-weight: bold;
font-size: 30px;
}
label{
    color:black;
    font-size: 19px;
    font-weight: 500;
    
}
.name, .email, select{
    width: 100%;
    padding: 10px;
    outline: none;
}

textarea{
    width: 100%;
    outline: none;
    resize: none;
    height: 43px;
}
.form{
    background:linear-gradient(65deg, rgba(19, 173, 19, 0.804), lightseagreen, rgba(9, 75, 241, 0.976));
    width: 70%;
    margin: auto;
    margin-bottom: 20px;
    padding-top: 50px;
    padding-bottom: 50px;
}
.btn{
    background:linear-gradient(65deg, rgba(19, 173, 19, 0.804), lightseagreen, rgba(9, 75, 241, 0.976));
    width: 100%;
    padding: 10px;
    border: 2px;
    font-size: 20px;
    font-weight: 600;
}
span{
    color: blue;
}.btn1{
    color: white;
    background-color: lightslategray;
    font-size: 16px;
}
@media screen and (max-width:576px) {
    .form{
        width: 100%;
    }
}
@media screen and (max-width:1024px) {
    .form{
        width: 90%;
    }
}