.carousel-item{
    height:32rem;
    background: #000;
    color: white;
    position: relative;
}
.containerone{
    position: absolute;
    text-align: center;
    bottom: 25%;
    left: 0;
    right: 0;
    width: 75%;
}
.containertwo{
    position: absolute;
    text-align: center;
    bottom: 40%;
    left: 0;
    right: 0;
    width: 75%; 
}
.bg {

background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
height: 100%;
background-position: center;
background-repeat: no-repeat;
background-size: cover;
opacity: 0.5;
}
.bg1{
    background-image: url("https://mdbootstrap.com/img/Photos/Horizontal/Nature/full page/img(20).webp");
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 0.5;
    }
.image_one{
    width: 100%; 
    height: 430px; 
    object-fit: cover;
    object-position: center;
}
.context{
    line-height: 1.7;
}
.content{
    height: 430px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: white;
    background-color: rgb(120, 31, 31);
}   
#btn-1{
    float: right;
    text-align: center;
    border-radius: 100px;   
    width: 20%;
}
.btn1{
    float: right;
    width: 20%;
    border-radius: 30px;
    font-size: 17px;
    font-weight: 600;
    text-align: center;
}
.image-two{
    width: 70px;
    height: 70px;
    border-radius: 100%;
    object-fit: cover;
}
.list a{
  font-size: 25px;
}
.li{
    font-size: 20px;
  font-weight: 600;
}
.li a{
    color:  rgb(120, 31, 31); 
}
.logo{
font-family: 'Arial Narrow Bold', sans-serif;
font-weight: bold;
font-size: 30px;
}
.cards1, .cards{
    background-color: rgba(50, 47, 47, 0.861);
    color: white;
}
.fa-arrow-down{
    position: absolute;
    right: 13%;
    margin-top: -40px;
    font-size: 30px;
}
@media  screen and (max-width:576px) {
    .sector{
        display: block;
    }
    .cards1{
        display: flex;
        justify-content: space-between;
    }
    #btn-1{
        width: 50%;
        font-size: 18px;
    }
    .btn1{
        width: 60%;
    }
    .containertwo{
        bottom: 20%;
    }
    .card-text{
        font-size: 19px;
    }
    .li{
        font-size: 19px;
    }
    .logo{
        font-size: 20px;
    }
}
