body{
    background-color: rgb(224, 230, 230);
    box-sizing: border-box;
    margin: auto;
}
.img{
    width: 17px;
    height: 14px;
    margin-left: 100px;
}

.btn-three{
    background-color: white;
    color: black;
    border-radius: 5px solid white;
    border: 7px;
    padding: 7px;
    height: 29px;
    width:420px;
    margin-right: 30px;
    position: relative;

}
.btn{
    margin-left: 40px;
}
#bttn{
    position: absolute;
    margin-left: -60px;
    width: 30px;
    height: 29px;
    border: none;
    background-color: aliceblue;
}

#facebook{
    margin-left: 50px;
    margin-right: 8px;
    font-size: 33px;
    color: white;
    
}

#fa-solid{
    padding: 2px;
    float: right;
}


.icon{
    margin-left: .5px;
    margin-right: -20px;
}
.icons{
    margin-left: 18px;


}
#i1, #i2,#i3,#i4,#i5{
    margin-right: 15px;
}
.navbar{
    padding: 0;
    margin: 0;
}
.navdiv{
    display: flex;
    align-items: center;
    background-color:  rgb(60, 91, 157);
  
}
ul{
    text-decoration: none;
    display: inline-block;
    
}

li{
    list-style-type: none;
    display: inline-block;
    margin-right: 40px;

}
li a{
    color: white;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;   
}

.image-one{
    width: 200px;
    height: 200px;
    margin-top:15px;
    margin-left:90px;
    margin-right: 10px;
    border: 7px solid white;
}
.image-two{
    width: 65%;
    height: 350px;
    float: right;
    display: right;
    margin-right: 5.5em;
}
.right-col{
    background-color: white;
    color: black;
    float: right;
    display: right;
    width: 130%;
    height: 70px;
    margin-right: 3.5em;

}
.nav-two{
    float: right;
    display: right;
    margin-left: 750px;
    margin-right: 31px;
    width: 50%;
    
}

.btn-one{
    background-color: rgb(60, 91, 157);
    text-align: center;
    font-weight: bolder;
    color: white;
    cursor: pointer;
    float: right;
    display: right;
    border-radius: 3px;
    border: 2px solid rgb(60, 91, 157);
    padding: 10px;
    width: 35%;
    margin-right:1.5em;
    margin-top: 1em;
}
.first-btn, .second-btn, .third-btn, .fourth-btn{
    margin-top: 1.5em;
    width: 110px;
    height: 35px;
    font-family: sans-serif;
    font-size: 13px;
    font-weight: bold;
    border: 1px solid black;
    background-color: rgb(249, 252, 254);
}
.first-btn{
    margin-left :1em;
}
.fourth-btn{
    width: 50px;
    margin-left: -4px;
}
.second-btn, .third-btn, .fourth-btn{
    margin-left: -4px;
    border-left: hidden;
}

h1{
    margin-left: 87px;
    margin-top: 10px;
    font-family:'Arial';
    font-size: 34px;
    font-weight: bolder;
}
.para-one{
    color: gray;
    margin-left: 87px;
    font-size: 18px;
    font-weight: lighter;
    margin-bottom: -1em;
    margin-top: -1.5em;
}
.left-col{
    padding: 0;
    margin-bottom:-2em;
}
.left-nav{
    align-items: center;
    margin: 0;
    padding: 0;
    position: absolute;
}
.item-two{
    text-decoration: none;
    color:black;
  height: 100%;
  width: 100%;  
}

.content-two{
    list-style-type: none;
    display: block;
    margin-top: 9px;


}
.content-two a{
    color: white;
    font-size: 25px;
    font-family: Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;  
    margin-left: 55px;
    margin-top: 20px;
    
}
#btn-two{
    margin-top: 260px;
}

.btn-two{
    background-color: rgba(35, 144, 2, 0.916);
    margin-bottom: 150px;
    margin-top: 160px;
    margin-left: 90px;
    border-radius: 3px;
    text-align: center;
    font-weight: bolder;
    cursor: pointer;
    color: rgba(255, 255, 255, 0.904);
    border: 3px solid rgba(35, 144, 2, 0.916);
    border-radius: 4px;
}
.left-column{
    background-color: white;
    float: right;
    display: right;
    margin-top: -25.7em;
    margin-right: 5.5em;
    padding: 7px;
    width: 23.4%;
    height: 75px;
    border-radius: 4px;
}
h3{
    margin-top: 7px;
    padding: 3px;
    margin-bottom: -1.5px;
    font-weight: lighter;
}

.right-column{
    background-color: white;
    float: right;
    display: right;
    margin-top:-305px;
    margin-right: 5em;
    height: 100%;
    width: 25%;
    
}

em{
    color: blue;
}
#icon-two{
    color: gray;
    float: left;
    display: left;
    padding-left: 10px;
    margin-right:20px;
}
h5{
    text-align: left;
    font-size: 18px;
    padding-left: 10px;
    padding-top: 20px;
    margin-top: -11px;
    margin-bottom: 18px;
}
h4{
    text-align: left;
    font-size: 20px;
    margin-top: 10px;
}
.message{
    float: right;
    display: right;
    margin-top: -22em;
    margin-right: 5em; 
}
.container1{
    background-color:white ;
    width: 485px;
    height: 122px;
    margin-right: 315px;
    margin-top: -60px;
    border-radius: 4px;
  
}
.status{
    background-color:rgb(249, 252, 254);
    height: 40px;
}
.image{
    width: 30px;
    height: 20px;
    float: right;
    display: right;
    position: relative;
    margin-top: 13px;
    margin-right: 40px;
}
.para{
    margin-left: 20px;
    position: absolute;
    font-weight: bold;
}
#icon-four{
    float: right;
    display: right;
    margin-right: -40px;
    margin-top: 15px;
}
.para-two{
    float: right;
    display: right;
    margin-right: 220px;
    margin-top: 30px;
    color: rgb(144, 143, 143);
}
.image-five{
    width: 53px;
    height: 42px;
    border: .5px solid white;
    margin-top: 10px;
    margin-left: 3px;

}
.container2{
    background-color: white;
    width: 485px;
    float: right;
    display: right;
    margin-top:-17.3em;
    margin-right: 24.7em;
    margin-bottom: 0;
    border-bottom: 3px hidden;
    border-radius: 4px;
}
.subh{
    padding-left: 10px;
    padding-bottom: auto;
    font-weight: lighter;
    color: rgb(78, 77, 77);

}
.image-three{
    width: 485px;
    height: 190px;
}
.image-four{
    width: 50px;
    height: 30px;
    display: inline-block;
    border: 2px solid white;
}
#star{
    margin-right:3px;
}
h4{
    font-weight: lighter;
    color: rgb(78, 77, 77);
    margin-right: 3px;
}
.seen{
    float: right;
    display: right;
    margin-top: -40px;
    margin-right: -.15em;
    padding-right: 15px;
    font-weight: lighter;
   
}
#ic{
    color: rgb(22, 3, 227);
}
#list-one{
    border-left: 4px solid rgb(110, 126, 232);
    width: 15em;
    background-color: rgba(166, 169, 168, 0.976);
}



